<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js" ></script>
    </head>
    <body>
        <h1>Hi <%=username%>,welcome to json web token based authentication</h1>
        <a href="/logout">logout</a>
        <button class="btn btn-primary" >exit</button>
    </body>
</html>