<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="js/bootstrap.min.js" ></script>
    </head>
    <body align="center" >
        <strong><%=product.title%></strong><br>
        <img style="width: 250px;" src="<%=product.image%>" alt="">
        <p><%=product.description%></p>
        
    </body>
</html>