<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/bootstrap.min.js" ></script>
    </head>
    <body >
        <div style="display: flex;flex-wrap: wrap;justify-content: center;" >
            <%products.forEach((product)=>{%>
                <div class="card" style="width: 18rem;">
                    <img src=<%= product.image %> class="card-img-top w-75" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%=product.title%></h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="product/<%=product.id%>" class="btn btn-primary">show more</a>
                    </div>
                </div>
            <%})%>
        </div>
    </body>
</html>